body{
    background-color: lightgrey;
    font-size: 62.5%;
    margin: 0;
    text-align: center;
}


/*mobile screen and general properties*/

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100px;
    z-index: 3;   
}



.main-navigation{
    display: none;
}





/*pad screen and desktop*/

@media screen and (min-width: 768px){ 



.main-navigation{
    display: flex;
}



ul.main-navigation > li{
    margin: 20px;
}


.main-navigation a:hover,
.main-navigation a:checked {
    border-top: 3px solid #5cacd2;
    padding-top: 38px;
}



}




